@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Style.css" rel="stylesheet" />
<script src="~/Scripts/script.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
@*Phần layout*@
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://bizweb.dktcdn.net/100/106/604/themes/815081/assets/slider_2.jpg?1698631668734" class="d-block w-100" alt="..." style="height:300px;width:1000px">
        </div>
        
    </div>
</div>

@*Phần service*@
<div class="service">
    <div class="sev">
        <a href="#"><img src="https://bizweb.dktcdn.net/thumb/medium/100/106/604/themes/815081/assets/policy_1.png?1698631668734" alt="Alternate Text" /></a>
        <div class="right">
            <h2>Freeship cho đơn hàng chuyển khoản trước</h2>
            <p>Giao hàng trong ngày cho đơn nội thành</p>
        </div>
    </div>


    <div class="sev">
        <a href="#"><img src="https://bizweb.dktcdn.net/thumb/medium/100/106/604/themes/815081/assets/policy_2.png?1698631668734" width="50px" height="52px" alt="Alternate Text" /></a>
        <div class="right">
            <h2>Gói quà miễn phí</h2>
            <p>Cho tất cả đơn hàng</p>
        </div>

    </div>
    <div class="sev">
        <a href="#"><img src="https://bizweb.dktcdn.net/thumb/medium/100/106/604/themes/815081/assets/policy_3.png?1698631668734" width="50px" height="52px" alt="Alternate Text" /></a>
        <div class="right">
            <h2>Dán tem bảo hành của shop</h2>
            <p>Chính sách đổi trả trong vòng 14 ngày</p>
        </div>

    </div>
    <div class="sev">
        <a href="#"><img src="https://bizweb.dktcdn.net/thumb/medium/100/106/604/themes/815081/assets/policy_4.png?1698631668734" alt="Alternate Text" /></a>
        <div class="right">
            <h2>Hotline: 0123456789</h2>
            <p>Hỗ trợ trực tiếp nhanh chóng</p>
        </div>

    </div>

</div>
@*Phần sản phẩm*@
<div class="Product">
    <div class="Arrival">
        <H2>NEW ARRIVALS</H2>
        <ul class="products">
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/5f99173ec7760-28102020140118.jpg?v=1663150192537" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>


                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Al Haramain Amber Oud Gold Edition</a>
                        <a href="#" class="product-price">2.399.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/5f800ede45042-09102020141854.jpg?v=1626243426267" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Roja Dove Elysium Pour Homme Parfum Cologne</a>
                        <a href="#" class="product-price">
                            6.799.000₫
                        </a>
                    </div>
                </div>
            </li>

            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/94.jpg?v=1694242178927" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Le Labo Lys 41  </a>
                        <a href="#" class="product-price">6.999.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/untitled-design-17-28138c4c-41bd-41c9-9a20-71c8908c7db9.png?v=1662532262640" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Tom Ford Black Orchid</a>
                        <a href="#" class="product-price">599.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/thumb/grande/100/106/604/products/wo-96984d25-be35-4751-ae5a-956790473936.jpg" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Le Labo Another 13</a>
                        <a href="#" class="product-price">5.599.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/untitled-design-79.jpg?v=1684999903000 " alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Armaf Club De Nuit BLUE ICONIC</a>
                        <a href="#" class="product-price">1.899.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/hinh-sp-5-2fe83f51-0e6f-4339-af45-06ca663e59c6.png?v=1677994993993" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">MCM Ultra Eau De Parfum</a>
                        <a href="#" class="product-price">2.299.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/untitled-design-6-6ef02575-7d0e-4c47-a190-14a5f6efcefd.png?v=1680363720813" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Parfums De Marly Pegasus</a>
                        <a href="#" class="product-price">5.999.000₫ </a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="Arrival">
        <H2>BEST SELLER</H2>
        <ul class="products">
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/untitled-design-4-9494c6f5-3109-4c38-99ca-b618ba303394.png?v=1694241895793" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>


                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Armaf Club de Nuit Untold</a>
                        <a href="#" class="product-price">1.899.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/nuoc-hoa-nu-club-de-nuit-women-thuong-hieu-armaf.png?v=1601212539660" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Armaf Club De Nuit Women</a>
                        <a href="#" class="product-price">
                            1.499.000₫
                        </a>
                    </div>
                </div>
            </li>

            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/old-red-wine-instagram-post-6-e7bb46e2-ace0-41bb-b8a9-c7308f2ace5e.jpg?v=1662273464500" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Afnan 9AM </a>
                        <a href="#" class="product-price">1.599.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/screen-shot-2016-12-09-at-12-45-04.png?v=1669873616860" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Versace Bright Crystal</a>
                        <a href="#" class="product-price">2.099.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/bleu-de-chanel-eau-de-parfum.png?v=1663912247710" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">CHANEL Bleu De Chanel EDP</a>
                        <a href="#" class="product-price">3.499.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/untitled-design-25-cf176956-faf6-4577-97c5-52cc77e4f2b6.png?v=1676826995420" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Christian Dior J'Adore</a>
                        <a href="#" class="product-price">399.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/wo-f8f9d34c-d6f8-4312-9c3f-8332487a5421.jpg?v=1603105646910" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Tom Ford Ombré Leather</a>
                        <a href="#" class="product-price">3.999.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/thumb/grande/100/106/604/products/burberry-hero-orchardvn-hinh2-1.jpg" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Burberry Hero EDT</a>
                        <a href="#" class="product-price">399.000₫ </a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="Arrival">
        <H2>MINI & TRAVEL SIZE</H2>
        <ul class="products">
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/untitled-design-54-7748aa6a-351e-4bf8-a057-39bb05751186.png?v=1678981522697" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>


                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Carolina Herrera Very Good Girl mini 10ml</a>
                        <a href="#" class="product-price">799.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/untitled-design-28-21ef632b-523b-46ed-920c-39c5a4de7abb.png?v=1678849623310" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Versace Pour Homme Mini Size</a>
                        <a href="#" class="product-price">
                            199.000₫
                        </a>
                    </div>
                </div>
            </li>

            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/2-090b5173-b3db-47fc-858d-905702e2c23e.png?v=1692078602423 alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Paco Rabanne Fame mini size</a>
                        <a href="#" class="product-price">499.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/thumb/grande/100/106/604/products/87301bb1b8da7d8424cb.jpg" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">BVLgari Splendida Magnolia Sensuel Mini Size</a>
                        <a href="#" class="product-price">399.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/2999.jpg?v=1661056403137" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Thiery Mugler Angel Art Mini Size</a>
                        <a href="#" class="product-price">349.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/untitled-design-7-fd2d3439-1495-4f32-b1fe-b9389d6eda1c.png?v=1666761180723 " alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">GUCCI Guilty Femme EDT Mini Size </a>
                        <a href="#" class="product-price">499.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/nuoc-hoa-dsquared2-red-wood-pour-femme-100ml-614e90dd63040-25092021100045.jpg?v=1693840588877" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">DSQUARED Red Wood Pour Femme Mini Size</a>
                        <a href="#" class="product-price">399.000₫ </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="https://bizweb.dktcdn.net/100/106/604/products/untitled-design-2-2a413594-2eee-4132-b886-926fd089e27d.jpg?v=1664111677323" alt="Alternate Text" />
                        </a>
                        <a href="" class="buy-now">Mua ngay</a>
                    </div>

                    <div class="product-info">
                        <a href="" class="product-cat">Perfumes</a>
                        <a href="" class="product-name">Moschino Toy Boy 2019 Mini Size</a>
                        <a href="#" class="product-price">349.000₫ </a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
